.persons {
    display: flex;
    gap: 5px;
    align-items: center
}

button {
    height: 30px;
}

button:hover {
    background-color: rgba(26, 83, 140, 0.605);
}

p {
    margin: 10px;
}

.good {
    border: 6px solid green;
    color: green;
    background-color: rgba(128, 128, 128, 0.378);
    font-size: 60px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.error {
    border: 6px solid red;
    color: red;
    background-color: rgba(128, 128, 128, 0.378);
    font-size: 60px;
    padding-left: 10px;
    margin-bottom: 20px;
}
